@charset "utf-8";

ul{
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background-color: #FDFCF0;
    box-sizing: border-box;
   width: 100%;
   margin: 0 auto;
}
.reserve-container {
    display: flex;
    justify-content: center;
    height: 525px;
    margin: 0 auto;
}
.reserve-container>div {
    border: 1px solid #d1d0c7;
}
.reserve-title {
    background-color: #333333;
    text-align: center;
    color: #e7e7e7;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    font-size: 13px;
}
.movie-reserve {
    width: 284px;
    /* margin: 0 auto; */
}
.theater-reserve {
    width: 264px;
    overflow: hidden;
    position: relative;
    /* margin: 0 auto; */
}
.hall-theater {
    padding: 10px;
}
.theater-form {
    display: flex;
}
.hall-theater .localName {
    position: absolute;
    top: 10px;
    left: -20px;
    margin-top: 50px;
    z-index: 2;
}
.theater-list .localName li button {
    width: 100px;
    height: 30px;
    text-align: right;
    font-size: 11px;
    font-weight: bold;
    background-color: #e6e4d9;
    cursor: pointer;
    border: 0px;
    margin-bottom: 1px;
}
.theater-list .localName li .first_button {
    /* border: 1px solid #222222; */
    background-color: #FDFCF0;
}
.theater-list .localName li .last_button {
    font-size: 10px;
}
.hall-theater .localName .theaterOn {
    background-color: #FDFCF0;
}
.hall-theater .localName .theaterOff {
    background-color: #e6e4d9;
}
.hall-theater .localTheater .theater_button ul{
    position: absolute;
    top: 60px;
    right: 15px;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 1;
    display: none;
}
.hall-theater .localTheater .theater_button .theater_seoul {
    display: block;
}
.localTheater .theater_button .buttonCommon {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.localTheater .theater_button .buttonOn {
    background-color: #333333;
    border: 1px solid #565656;
    padding: 5px;
}
.hall-theater .localTheater ul {
    height: 465px;
}
.hall-theater .localTheater li button{
    width: 110px;
    height: 30px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    background-color: #FDFCF0;
    cursor: pointer;
    border: 0px;
    margin-bottom: 1px;
}
#theaterButtonOn {
   color: white;
   background-color: #444444; 
}

.date-reserve {
    width: 91px;
    overflow: hidden;
    /* margin: 0 auto; */
}
.date-list .hallDate {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
.date-list .hallDate .year {
    display: block;
    font-size: 13px;
    text-align: center;
    color: #666666;
    margin-top: 14px;
}
.date-list .hallDate .month {
    display: block;
    font-size: 24px;
    text-align: center;
    color: #666666;
    margin-bottom: 14px;
}
.date-list .date {
    margin: auto 0;
}
.monthCommon a {
    display: inline-block;
    text-align: center;
    color: #0f2038;
    background-color: #FDFCF0;
    border: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.monthCommon .dayweek {
    margin-right: 10px;
}
.monthCommon .sun {
    color: #a51214;
}
.monthCommon .sat {
    color: #1a4972;
}
.date-reserve .dateButtonOn {
    background-color: #444444;
    color: #e7e7e7;
}

.time-reserve {
    width: 384px;
    /* margin: 0 auto; */
}
.sort-wrapper {
    margin: 10px 6px 6px 10px;
    display: flex;
    font-size: 12px;
    border-bottom: 1px solid #dddddd;
}
.sort-wrapper>div {
    padding: 3px;
}
.sort-wrapper>div:hover {
    border-bottom: 1px solid #222222;
    font-weight: bold;
}
.sort-selected {
    font-weight: bold;
    border-bottom: 1px solid #222222;
}
.sort-korean {
    margin-left: 6px;
}

/* .date-list {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 498px;
    overflow: scroll;
    overflow-x: hidden;
} */


.select_wrap {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #1d1d1c;
    margin: 0 auto;
}
.select_wrap .select_movie {
    position: absolute;
    top: 18px;
    left: 350px;
    color: #5b5b5b;
    font-size: 30px;
}
.select_wrap .select_theater {
    position: absolute;
    top: 18px;
    left: 550px;
    color: #5b5b5b;
    font-size: 30px;
}
.select_wrap .select_seat {
    position: absolute;
    top: 18px;
    left: 750px;
    color: #5b5b5b;
    font-size: 30px;
}
.select_wrap .select_pay {
    position: absolute;
    top: 18px;
    left: 950px;
    color: #5b5b5b;
    font-size: 30px;
}

.selected_wrap {
    display: none;
    position: absolute;
    top: 530px;
    left: 550px;
    color: #e7e7e7;
    font-size: 13px;
}
.selected_wrap>span {
    display: block;
    margin-bottom: 10px;
}
.selected_wrapOn{
    display: block;
}
